/* media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:991px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 126px;
        right: -100%;
        background-color: #fff !important;
        background: 30rem;
        width: 30rem;
        height: 400px;
    }

    .header .navbar .active {
        right: 30px;
    }


    .header .navbar a {
        background-color: #fff;
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }






}